
   
    
    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/feedback2.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    
                </div>
            </div>
        </div>
    </section>
    
    <!-- ##### Post Details Area Start ##### -->
    <section class="post-details-area">
        <div class="container">
          

            <div class="row justify-content-center">
                <!-- Post Details Content Area -->
                <div class="col-12 col-xl-8">
                    

                    <!-- Related Post Area -->
                    <div class="related-post-area bg-white mb-30 px-30 pt-30 pb-0 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h1>Liste des Films</h1>
                        </div>
                        <br>
                        
                        <mat-tab-group animationDuration="2000ms">
                                
                          <mat-tab label="HERROR">
                                <br>
                                <br>


                            <div class="row">
                                <!-- Single Blog Post -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-blog-post style-4 mb-30">
                                        <div class="post-thumbnail mb-30">
                                            <img src="assets/img/bg-img/27.jpg" alt="">
                                           
                                   
                                        </div>
                                        <div class="post-content">
                                            <a href="" [routerLink]="['/client/comments']"class="post-title">Dentists Are Smiling Over Painless Veneer</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                                <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 234</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                 <!-- Single Blog Post -->
                                 <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-blog-post style-4 mb-30">
                                        <div class="post-thumbnail mb-30">
                                            <img src="assets/img/bg-img/23.jpg" alt="">
                                           
                                   
                                        </div>
                                        <div class="post-content">
                                            <a href="single-post.html" class="post-title">Dentists Are Smiling Over Painless Veneer</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                                <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 234</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                 <!-- Single Blog Post -->
                                 <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-blog-post style-4 mb-30">
                                        <div class="post-thumbnail mb-30">
                                            <img src="assets/img/bg-img/24.jpg" alt="">
                                           
                                   
                                        </div>
                                        <div class="post-content">
                                            <a href="single-post.html" class="post-title">Dentists Are Smiling Over Painless Veneer</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                                <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 234</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <!-- Single Blog Post -->
                                 <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-blog-post style-4 mb-30">
                                        <div class="post-thumbnail mb-30">
                                            <img src="assets/img/bg-img/25.jpg" alt="">
                                           
                                   
                                        </div>
                                        <div class="post-content">
                                            <a href="single-post.html" class="post-title">Dentists Are Smiling Over Painless Veneer</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                                <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 234</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <!-- Single Blog Post -->
                                 <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-blog-post style-4 mb-30">
                                        <div class="post-thumbnail mb-30">
                                            <img src="assets/img/bg-img/26.jpg" alt="">
                                           
                                   
                                        </div>
                                        <div class="post-content">
                                            <a href="single-post.html" class="post-title">Dentists Are Smiling Over Painless Veneer</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                                <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 234</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <!-- Single Blog Post -->
                                 <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-blog-post style-4 mb-30">
                                        <div class="post-thumbnail mb-30">
                                            <img src="assets/img/bg-img/27.jpg" alt="">
                                           
                                   
                                        </div>
                                        <div class="post-content">
                                            <a href="single-post.html" class="post-title">Dentists Are Smiling Over Painless Veneer</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                                <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 234</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Blog Post -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-blog-post style-4 mb-30">
                                        <div class="post-thumbnail mb-30">
                                            <img src="assets/img/bg-img/28.jpg" alt="">
                                           
                                   
                                        </div>
                                        <div class="post-content">
                                            <a href="single-post.html" class="post-title">Will The Democrats Be Able To Reverse</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                                <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 234</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- Single Blog Post -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-blog-post style-4 mb-30">
                                        
                                            <div class="post-thumbnail mb-30">
                                                    <img src="assets/img/bg-img/34.jpg" alt="">
                                                   
                                           
                                                </div>
                                        <div class="post-content">
                                            <a href="single-post.html" class="post-title">A Guide To Rocky Mountain Vacations</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                                <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 234</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>



                          </mat-tab>
                          <mat-tab label="DRAMA">


                                <div class="row">
                                        <!-- Single Blog Post -->
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="single-blog-post style-4 mb-30">
                                                <div class="post-thumbnail mb-30">
                                                    <img src="assets/img/bg-img/27.jpg" alt="">
                                                   
                                           
                                                </div>
                                                <div class="post-content">
                                                    <a href="single-post.html" class="post-title">Dentists Are Smiling Over Painless Veneer</a>
                                                    <div class="post-meta d-flex">
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                                        <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 234</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                                         <!-- Single Blog Post -->
                                         <div class="col-12 col-md-6 col-lg-4">
                                            <div class="single-blog-post style-4 mb-30">
                                                <div class="post-thumbnail mb-30">
                                                    <img src="assets/img/bg-img/23.jpg" alt="">
                                                   
                                           
                                                </div>
                                                <div class="post-content">
                                                    <a href="single-post.html" class="post-title">Dentists Are Smiling Over Painless Veneer</a>
                                                    <div class="post-meta d-flex">
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                                        <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 234</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                                         <!-- Single Blog Post -->
                                         <div class="col-12 col-md-6 col-lg-4">
                                            <div class="single-blog-post style-4 mb-30">
                                                <div class="post-thumbnail mb-30">
                                                    <img src="assets/img/bg-img/24.jpg" alt="">
                                                   
                                           
                                                </div>
                                                <div class="post-content">
                                                    <a href="single-post.html" class="post-title">Dentists Are Smiling Over Painless Veneer</a>
                                                    <div class="post-meta d-flex">
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                                        <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 234</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                     
                                    </div>

                          </mat-tab>
                          <mat-tab label="ACTION">Content 3</mat-tab>
                          <mat-tab label="cOMEDIE">Content 3</mat-tab>
                          <mat-tab label="cOMEDIE">Content 3</mat-tab>

                        </mat-tab-group>

                   
                        
                    </div>


                </div>

            </div>
        </div>
    </section>
    <!-- ##### Post Details Area End ##### -->
