  <!-- ##### Header Area End ##### -->
  <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(assets/img/gfmylb.jpeg);">
    <div class="container h-50">
    <div class="row h-50 align-items-center">
    <div class="col-12">
    <div class="breadcrumb-content">
    <h2></h2>
    </div>
    </div>
    </div>
    </div>
    </section>
  <br>
  <!-- ##### Archive Post Area Start ##### -->
  <div class="archive-post-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-20 col-xl-12">
                <div class="archive-posts-area bg-white p-30 mb-30 box-shadow">
                        <div class="section-heading">
                                <h1 >FILM PROGRAMMES</h1>
                        </div>

                       
                        <button  class="btn mag-btn w-20" (click)="ajouter()">Planifier film</button>
                        <br>
                        <br>
<ejs-schedule [eventSettings]="eventData" [selectedDate]="currentDate" ></ejs-schedule>
<br>
<br>
</div>
</div>
</div>
</div>
</div>
