<!-- ##### Header Area End ##### -->
<section style="background-image: url(assets/img/notif.jpg);">
    <div class="container h-50">
    <div class="row h-50 align-items-center">
    <div class="col-12">
    <div class="breadcrumb-content">
    <h2></h2>
    </div>
    </div>
    </div>
    </div>
    </section>
  <br>
  
   
    <!-- ##### Archive Post Area Start ##### -->
    <div class="archive-post-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-20 col-xl-12">
                    <div class="archive-posts-area bg-white p-30 mb-30 box-shadow">
                            <div class="section-heading">
                                    <h1 >NOTIFICATION ! </h1>
                            </div>

  
  <!-- ##### Archive Post Area Start ##### -->
    <div class="archive-post-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-8">
                        <div class="archive-posts-area bg-white p-30 mb-30 box-shadow">
    
                           
    
    
                            <!-- Single Catagory Post -->
                            <div class="single-catagory-post d-flex flex-wrap">
                               
                                  <!-- Thumbnail -->
                                  <div class="post-thumbnail bg-img" style="background-image: url(img/bg-img/42.jpg);">
                                    <img src="assets/img/bg-img/20.jpg" alt="">                         
                                   </div>
    

                                <!-- Post Contetnt -->
                                <div class="post-content">
                                      
                                    <a class="post-title">Votre demande pour le film Parasite a été accepté </a>
                                    <!-- Post Meta -->
                                    <br>
                                    <br>
                                    
                                    <button [routerLink]="['/client/payement']" type="submit" class="btn mag-btn w-70">Payer</button> 
                                 </div>
                            </div>
    
                        </div>
                    </div>
    
                    <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                        <div class="sidebar-area bg-white mb-30 box-shadow">
                            <!-- Sidebar Widget -->
                            <div class="single-sidebar-widget p-30">
                                <!-- Social Followers Info -->
                                <div class="social-followers-info">
                                    <!-- Facebook -->
                                    <a href="#" class="facebook-fans"> 5  / 20  <span>Points </span></a>
                                  
                                </div>
                            </div>
    
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Archive Post Area End ##### -->