
   <div class="row justify-content-center">
    <!-- Post Details Content Area -->
    <div class="col-12 col-xl-8">
        
<div class="post-details-content bg-white mb-30 p-30 box-shadow">
        <div class="blog-thumb mb-30">
            <img src="assets/img/bg-img/parasite2.png"  height="10%" width="100%"alt="">
        </div>
        <div class="blog-content">
            <div class="post-meta">
                <a href="#">MAY 8, 2018</a>
                <a href="archive.html">Parasite</a>
            </div>
            <!-- Post Meta -->
            <div class="post-meta-2">
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 234</a>
            </div>



            <div class="row">
               
                <div class="col-12 col-lg-4">
                    <img class="mb-15" src="img/bg-img/51.jpg" alt="">
                </div>
            </div>


            <blockquote>
                <h5 class="quote-text">Parasite est le seul long métrage à obtenir lors de la même cérémonie l'Oscar du meilleur film et l'Oscar du meilleur film étranger (rebaptisé Oscar du meilleur film international en 2019). Avec également l'Oscar du meilleur scénario original et celui du meilleur réalisateur, Bong Joon-ho devient le premier réalisateur à égaliser le record de Walt Disney, détenu en 1954, en remportant quatre Oscars la même soirée.</h5>
            </blockquote>


           
        </div>
    </div>
    </div>
    </div>

<div class="row justify-content-center">
    <!-- Post Details Content Area -->
    <div class="col-12 col-xl-8">
<!-- Comment Area Start -->
<div class="comment_area clearfix bg-white mb-30 p-30 box-shadow">
    <!-- Section Title -->
    <div class="section-heading">
        <h1>COMMENTAIRES</h1>
    </div>

    <ol>
        <!-- Single Comment Area -->
        <li class="single_comment_area">
            <!-- Comment Content -->
            <div class="comment-content d-flex">
                <!-- Comment Author -->
                <div class="comment-author">
                    <img src="assets/img/bg-img/53.jpg" alt="">
                </div>
                <!-- Comment Meta -->
                <div class="comment-meta">
                    <a href="#" class="comment-date">27 Aug 2019</a>
                    <h6>Tomas Mandy</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius</p>
                    <div class="d-flex align-items-center">
                    
                    </div>
                </div>
            </div>

          
        </li>


        <li class="single_comment_area">
            <!-- Comment Content -->
            <div class="comment-content d-flex">
                <!-- Comment Author -->
                <div class="comment-author">
                    <img src="assets/img/bg-img/54.jpg" alt="">
                </div>
                <!-- Comment Meta -->
                <div class="comment-meta">
                    <a href="#" class="comment-date">27 Aug 2019</a>
                    <h6>Tomas Mandy</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius</p>
                    
                </div>
            </div>

          
        </li>



        <!-- Single Comment Area -->
        <li class="single_comment_area">
            <!-- Comment Content -->
            <div class="comment-content d-flex">
                <!-- Comment Author -->
                <div class="comment-author">
                    <img src="assets/img/bg-img/55.jpg" alt="">
                </div>
                <!-- Comment Meta -->
                <div class="comment-meta">
                    <a href="#" class="comment-date">27 Aug 2019</a>
                    <h6>Simon Downey</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius</p>
                   
                </div>
            </div>
        </li>
    </ol>
</div>

</div>
</div>





<div class="row justify-content-center">
    <!-- Post Details Content Area -->
    <div class="col-12 col-xl-8">

<!-- Post A Comment Area -->
<div class="post-a-comment-area bg-white mb-30 p-30 box-shadow clearfix">
        <!-- Section Title -->
        <div class="section-heading">
            <h1>LAISSER UN COMMENTAIRE</h1>
        </div>

        <!-- Reply Form -->
        <div class="contact-form-area">
            <form action="#" method="post">
                <div class="row">
                   
                   
                    <div class="col-12">
                        <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message*" required></textarea>
                    </div>
                    <div class="col-12">
                        <button class="btn mag-btn mt-30" type="submit"> Commenter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>    
</div>